{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->

	<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>

	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->


	<section id="banner" >
		
	</section>

	<!-- ****************************** Features Section ************************** -->

	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Concepcionistas del Caribe en Haiti
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			
			<section class="row">

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
								<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                      “Encontrarán a Cristo en el corazón de los niños”. Respondiendo a esta invitación
de Santa Carmen Sallés de contemplar los rostros de niños y jóvenes y atendiendo a las
llamadas de la Iglesia después del terremoto que azotó a Haití, las Concepcionistas,
conjuntamente con Fe y Alegría, asumimos la dirección de un centro educativo ubicado en
Dilaire, Ouanaminthe. En el mismo se atiende una población escolar de Educación Inicial y
Primaria. Este centro participa de un proyecto de fraternidad entre Haití y R. Dominicana a
través de centros educativos ubicados a lo largo de la frontera de estos dos países.
                                </p>
                                <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        
                                </p>
                                <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                     
                                </p>
								</div>
						</section>
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/haiti/NIÑOS4.JPG' %}" class="img_res">
								</div>
						</section>
                        <br><br>					
			</section>
			<div class="clearfix"></div>
		</section>
	</section>



	
		<!-- ****************************** Footer ************************** -->

		<section id="footer">
			<section class="container">
				<section class="row">
					<div class="col-sm-6">
					
					</div>
					<div class="col-sm-6">
						<p class="copyright">All &copy; Copyright Reserved 2018</p>
					</div>
				</section>
			</section>
		</section>


	<!-- All the scripts -->

{% endblock %}