{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->

	<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>

	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->


	<section id="banner" >
		<section class="container">
			<a class="slidedown wow animated zoomIn" data-wow-delay="2s" href="#features"><i class="ion-ios-download-outline"></i></a>
			<section class="row">
				<div class="col-md-12">
					<div class="headings">
						<center><h1 class="wow animated fadeInDown"><strong>CONCEPCIONISTAS DEL CARIBE</strong></h1></center>
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-3">
								<div>
									<a href="{% url 'venezuelainfo' %}" class="polo-btn wow animated bounceInUp" style="border-radius:30px;"><i class="ion-ios-location"></i><strong>Venezuela</strong></a>
								</div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-3">
								<div>
									<a href="{% url 'HaitiInfo' %}" class="polo-btn  wow animated bounceInUp" style="border-radius:30px;"><i class="ion-ios-location"></i><strong>Haiti</strong></a>
								</div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-3">
								<div>
									<a href="{% url 'MexicoInfo' %}" class="polo-btn  wow animated bounceInUp" style="border-radius:30px;"><i class="ion-ios-location" ></i><strong>Mexico</strong></a>
								</div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-3">
								<div>
									<a href="{% url 'RepDominicanaInfo' %}" class="polo-btn  wow animated bounceInUp" style="border-radius:30px;"><i class="ion-ios-location" ></i><strong>Rep Dominicana</strong></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="col-md-6 hidden-xs hidden-sm">
					<div class="hand-container">
					<img class="iphone-hand img_res wow animated bounceInUp" data-wow-duration="1.2s" src="assets/img/iphone_hand.png"></img>
					<div class="clearfix"></div>
					</div>
				</div> -->
			</section>
		</section>
	</section>

	<!-- ****************************** Features Section ************************** -->

	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Nuestras Noticias
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			
			<section class="row">

						<section class="col-md-3 col-sm-6">
							{% for venezuela in noticiaxvenezuela %}
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="..{{ venezuela.imagen.url }}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Venezuela</h2>
									<a href="{% url 'detalle' venezuela.id %}" class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">{{ venezuela.titulo }}</>
									
								</div>
						<a href="{% url 'listaV' %}" class="polo-btn" style="border-radius:30px; color:black;"><strong>Ver todas</strong></a>
						{% endfor %}
						</section>

						<section class="col-md-3 col-sm-6">
						{% for haiti in noticiaxhaiti %}
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="..{{ haiti.imagen.url }}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Haiti</h2>
									<a href="{% url 'detalle' haiti.id %}" class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">{{ haiti.titulo }}</a>
									
								</div>
						<a href="{% url 'listaH' %}" class="polo-btn" style="border-radius:30px; color:black;"><strong>Ver todas</strong></a>
						{% endfor %}
						</section>
							

						<section class="col-md-3 col-sm-6">
						{% for venezuela in noticiaxmexico %}
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="..{{ venezuela.imagen.url }}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Mexico</h2>
									<a href="{% url 'detalle' venezuela.id %}" class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">{{ venezuela.titulo }}</a>
									
								</div>
						<a href="{% url 'listaM' %}" class="polo-btn" style="border-radius:30px; color:black;"><strong>Ver todas</strong></a>
						{% endfor %}
						</section>
							

						<section class="col-md-3 col-sm-6">
							{% for venezuela in noticiaxrep %}
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="..{{ venezuela.imagen.url }}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Rep.Dominicana</h2>
									<a href="{% url 'detalle' venezuela.id %}" class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">{{ venezuela.titulo }}</a>
									
								</div>
						<a href="{% url 'listaR' %}" class="polo-btn" style="border-radius:30px; color:black;"><strong>Ver todas</strong></a>
						{% endfor %}
						</section>
							
							
			</section>
			<div class="clearfix"></div>
		</section>
	</section>

	<!-- ****************************** Gallery Section ************************** -->

	<section id="gallery" class="block" style=" background: url({% static 'images/cielo.jpg' %});">
		<section class="container">
			<section class="row">
				<div class="title-box" style="color:#fff;"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left" style="border-color: #fff; "></span>
				<span class="bb-bottom-left" style="border-color: #fff; "></span>
				QUIÉNES SOMOS
				<span class="bb-top-right" style="border-color: #fff; "></span>
				<span class="bb-bottom-right" style="border-color: #fff; "></span>
				</h1></div>
			</section>
			<section class="row">
				<div class="col-xs-8">
				<h3 style="color:white; text-align : justify;">La Congregación de Religiosas Concepcionistas Misioneras de la Enseñanza, 
					nace de la experiencia espiritual que Carmen Sallés tuvo del amor providente y misericordioso de Dios Padre
					 y de Cristo Redentor, contemplado en el Misterio de María Inmaculada.</h3>
				</div>
				<div class="col-xs-4">
						<a href="#" class="polo-btn  wow animated bounceInUp" style="border-radius:30px;"><strong>Ver Màs</strong></a>
				</div>
			</section> </section>
	</section>

	<!-- ****************************** Team Section ************************** -->

<!--	<section id="team" class="block">
		<section class="container">
				<section class="row">
						<section class="row">
								<div class="title-box"><h1 class="block-title wow animated rollIn">
								<span class="bb-top-left"></span>
								<span class="bb-bottom-left"></span>
								Nuestros Eventos
								<span class="bb-top-right"></span>
								<span class="bb-bottom-right"></span>
								</h1></div>
							</section>

						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="images/mexico/jornada de formacion.JPG" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Mexico</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
									
								</div>
						<a href="#" class="polo-btn" style="border-radius:30px; color:black;"><strong><small>Mas Eventos de Mexico</small></strong></a>
						</section>

						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="images/venezuela/20171123_075634.jpg" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Venezuela</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
									
								</div>
						<a href="#" class="polo-btn" style="border-radius:30px; color:black;"><strong><small>Eventos de Venezuela</small></strong></a>
						</section>
							

						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="images/haiti/ACTIVIDAD.jpg" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Haiti</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
									
								</div>
						<a href="#" class="polo-btn" style="border-radius:30px; color:black;"><strong><small>Mas Eventos de Haiti</small></strong></a>
						</section>
							

						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="images/dominicana/COMIDA.jpg" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Rep Dominicana</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
									
								</div>
						<a href="#" class="polo-btn" style="border-radius:30px; color:black;"><strong><small>Eventos de Rep Dominicana</small></strong></a>
						</section>
							
							
			</section>
		</section>
	</section>
-->

	<!-- ****************************** Testimonial ************************** -->

<!-- ****************************** Team Section ************************** -->

	<section id="team" class="block">
		<section class="container">
				<section class="row">
						<section class="row">
								<div class="title-box"><h1 class="block-title wow animated rollIn">
								<span class="bb-top-left"></span>
								<span class="bb-bottom-left"></span>
								Juventud Concepcionista
								<span class="bb-top-right"></span>
								<span class="bb-bottom-right"></span>
								</h1></div>
							</section>
						{% for juventud in juventud %}
						<section class="col-md-3 col-sm-6">
						
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="..{{ juventud.imagen.url }}" class="img_res team-pic">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">{{ juventud.titulo }}</p>
									
								</div>
						<a href="{% url 'listaJoven' %}" class="polo-btn" style="border-radius:30px; color:black;"><strong><small>Ver Mas Eventos</small></strong></a>
						</section>
						{% endfor %}

							
			</section>
		</section>
	</section>

	<!-- ****************************** Testimonial ************************** -->

	<section id="testimonial" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Etapas de Formacion
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
		</section>
		<section class="container">
			<section class="row">
				<section class="col-xs-12">
					<div id="review" class="owl-carousel owl-theme">
						<div class="item">
							<div class="row">
								<div class="col-sm-5">
										<p class="client-name">
												Postulantado
										</p>
										<br><br>
									<p class="review-desc" style="color:white; text-align : justify;">
									En este período de discernimiento, se ayudará a la postulante en el conocimiento personal y de la vida y misión del Instituto.
									</p>
									
									
								</div>
								<div class="col-sm-6 col-xs-offset-1">
									
										<p class="client-name">
												Noviciado
										</p>
										<br><br>
									<p class="review-desc " style="color:white; text-align : justify;">
											Se dedica al estudio y profundización de la Sagrada Escritura y de las constituciones, a la formación doctrinal y litúrgica, al cultivo de las virtudes humanas y cristianas, y a la comprensión y experiencia de la vida espiritual.
									</p>
																		
								</div>
							</div>
						</div>
						<div class="item">
								<div class="row">
										<div class="col-sm-5 ">
												<p class="client-name">
														Juniorado
												</p>
												<br><br>
											<p class="review-desc" style="color:white; text-align : justify;">
													Es un periodo de profundización y personalización de la vida religiosa, y de integración paulatina en la vida comunitaria y apostólica.
											</p>
											
											
										</div>
										<div class="col-sm-6 col-xs-offset-1">
												<p class="client-name">
														Formaciòn Permanente
												</p>
												<br><br>
											<p class="review-desc" style="color:white; text-align : justify;">
													Somos conscientes de que la formación permanente es una exigencia intrínseca de la consagración religiosa, que genera en nosotras la necesidad y disponibilidad para renovarnos en cada ciclo de la vida.
											</p>
											
																				
										</div>
									
								</div>
						</div>
						<div class="item">
								<div class="row">
										<div class="col-sm-5">
												<p class="client-name">
														Familia Concepcionista
												</p>
												<br><br>
											<p class="review-desc" style="color:white; text-align : justify;">
													La misión concepcionista nos compromete a vivir apostólicamente atentos a los signos de los tiempos, para transmitir el Evangelio con un lenguaje inteligible en cada situación humana.
											</p>
											
											
										</div>
										<div class="col-sm-6 col-xs-offset-1">
																		
										</div>
								</div>
									
						</div>
						
					</div>
				</section>
			</section>
		</section>
	</section>

	<!-- ****************************** Subscribe Section ************************** -->

	<!--<section id="subscribe">
		<section class="container">
			<section class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<p class="susbcribe-text">
					<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor</strong> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</section>
		</section>
		<section class="container subscribe-wrap">
			<section class="row">
				<div class="col-sm-12">
					<div class="row">
						<form role="form">
							<div class="col-xs-10">
								<div class="form-group">
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
								</div>
							</div>
							<div class="col-xs-2">
								<button type="submit" class="btn-custom">
								<i class="ion-ios-arrow-thin-right"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</section>
	</section> -->

	<!-- ****************************** Contact Section ************************** -->

	<section id="contact">
			<section class="container contact-wrap">
				<section class="row">
					<div class="title-box"><h1 class="block-title wow animated rollIn">
					<span class="bb-top-left"></span>
					<span class="bb-bottom-left"></span>
					Suscribete a Concepcionistas!
					<span class="bb-top-right"></span>
					<span class="bb-bottom-right"></span>
					</h1></div>
				</section>
			</section>
		<section class="address">
				<div class="container">
					<div class="col-sm-12">
						<!--<ul class="address-list">
							<li><i class="ion-ios-location" style="background-color: rgb(255, 102, 0);"></i> <span>1537 Flint Street <br>Tumon, MP 96911</span></li>
							<li><i class="ion-ios-telephone" style="background-color: #63cfea;"></i> <span>670-898-2847 </span></li>
							<li><i class="ion-email" style="background-color: #6ecba9;"></i> <span>info@domain.com</span></li>
							<li><i class="ion-earth" style="background-color: #ff6969;"></i> <span>www.themewagon.com</span></li>
						
						</ul>-->
					</div>
				</div>
			</section> 
			<section class="mailbox">
				<div class="container">
					<div class="col-sm-12">
						<form name="sentMessage" id="contactForm" novalidate>
	                        <div class="row">
	                            <div class="col-md-6">
	                                <div class="form-group">
	                                    {{ csrftoken }}
	                                    {{ form.as_p}}
									</div>
	                                <div class="form-group">
										<p class="help-block text-danger"></p>
										<div id="success"></div>
										<button type="submit" class="polo-btn contact-submit"><i class="ion-paper-airplane"></i></button>
	                                </div>
								</div>
								<div class="col-md-6">

								</div>
	                        </div>
	                    </form>
					</div>
				</div>
			</section>
			<div class="clearfix"></div>
		</section>

		<!-- ****************************** Footer ************************** -->

		<section id="footer">
			<section class="container">
				<section class="row">
					<div class="col-sm-6">
					
					</div>
					<div class="col-sm-6">
						<p class="copyright">All &copy; Copyright Reserved 2018</p>
					</div>
				</section>
			</section>
		</section>

{% endblock %}