{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->

	<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>

	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Nuestras Noticias
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			<section class="row">
				{% for venezuela in object_list %}
						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="..{{ venezuela.imagen.url }}" class="img_res team-pic">
									<h3 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregaciones</h3>
									<a href="{% url 'detalle' venezuela.id %}" class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">{{ venezuela.titulo }}</a>
								</div>
						</section>	
				{% endfor %}				
			</section>
			<div class="clearfix"></div>
		</section>
	</section>




{% endblock %}