{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
			</section>
		</section>
	<!-- ****************************** Contact Section ************************** -->

<section>
	<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
			Todos los Suscriptores
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			<hr><br><br>
			<table class="table">
				<thead>
				<tr>
					<th>Usuario</th>
					<th>Correo</th>
					<th>Institucion</th>
				</tr>
				</thead>
				<tbody>
					{% for afiliados in afiliados %}
					<tr>		
						<td>{{ afiliados.nombres }}</td>
						<td>{{ afiliados.correo }}</td>
						<td>{{ afiliados.institucion }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<section class="row">
				<a href="{% url 'home' %}" class="polo-btn" style=" color:black;"><strong>Volver</strong></a>
			</section>			
		</div>
	</div>
</div>
</section>



{% endblock %}