{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">



	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->
<br><br><br>
<section class="col-xs-4 col-sm-offset-4">
<center>
	<form method="post" action="{% url 'autenticacion' %}">
		{% csrf_token %}
		<br><br><br>
		<label for="usuario">Usuario</label>
		<br>
		<input type="text" class="form-control" name="usuario">
		<br>
		<label for="usuario">Password</label>
		<br>
		<input type="password" class="form-control" name="password">
		<br>
		<input type="submit" value="Ingresar">
	</form>
</center>
</section>

		<!-- ****************************** Footer ************************** -->


{% endblock %}