{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->
<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>
	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->


	<section id="banner" >
		
	</section>

	<!-- ****************************** Features Section ************************** -->

	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Mision Apostolica 
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			                        <br><br><br>
                        <section class="col-md-12 col-sm-12">
                                <div class="wow animated fadeIn" data-wow-delay=="0.3s">
                                        <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                               “La misión específica que la Iglesia confía a las Concepcionistas se expresa en la propuesta educativa basada en los valores del Evangelio. Velamos por mantener la identidad católica de nuestros centros procurando que, en la práctica educativa, la propuesta sea asumida y desarrollada por todos los educadores. Respetamos y valoramos la pluralidad cultural y religiosa de nuestros alumnos y ofrecemos a todos el conocimiento y contacto con Jesucristo que puede dar sentido a sus vidas”. (CC 61)
                                            </p>
                                        <br><br>
                                    </div>
						</section>
			<section class="row">

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                      <strong>Formación:</strong>
                                      <br>
									Diseñar, asumir y aplicar el Itinerario de Formación del Laicado, tomando en cuenta los distintos ámbitos de la persona y características del país  donde lleva a cabo su misión. 
									<br><br>
									Fortalecer la formación en la dimensión humana, social, cristiana y carismática de las religiosas, miembros de M.L.C, laicos que comparten o colaboran con la misión para ir creciendo en el conocimiento de Jesús de Nazaret, en los principios  del evangelio,  los valores del Reino y ser testigo al servicio de la vida. (XII CP) 
									<br><br>
									ACTIVIDADES QUE DESARROLLA: 
										<li>Jornada de Inducción</li>
										<li>Encuentros nacionales de formación</li>
										<li>Retiros para laicos</li>
										<li>Asambleas trienales de laicos y religiosas</li>
										<li>royecto Carisma en Comunión</li>
									</ul>
                               		 </p>
								</div>
						</section>
						
						<section class="col-md-6 col-sm-6">
							<br><br><br>
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/venezuela/reunion.jpg' %}" class="img_res">
								</div>
						</section>
                        <br><br>

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;"> 
                                            <img src="{% static 'images/venezuela/VENEZUELA.jpg' %}" class="img_res">
                                        </p>
								</div>
						</section>
							
                        <br><br><br>
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
										  <br><br><br>
                                     <strong> PASTORAL EDUCATIVA: </strong>
                                      <br>
									Garantizar la formación integral de las personas según el carisma concepcionista, maduras en la fe, insertas en la Iglesia, comprometidas socialmente que, conscientes de sus potencialidades y de la realidad que les rodea,  se comprometen en la transformación social que exige la construcción del Reino de Dios
									<br><br>
									Lograr que los centros concepcionistas tengan una mayor eficacia y eficiencia evangelizadora
									<br><br>
									ACTIVIDADES QUE DESARROLLA:
									<ul>
										<li>Acompañamiento en la elaboración de los proyectos educativos de cada centro para que tengan como base el plan trienal del Provincia.</li>
										<li>Fortalecer a los equipos de pastoral de los centros a través de encuentros de formación, planificación y evaluación. </li>
										<li>Elaborar materiales de apoyo para el desarrollo de la pastoral en los centros a partir del lema pastoral anual. </li>
									</ul>
                               		 </p>
								</div>
								</div>
                        </section>


							
			</section>
					<section class="row">

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                    <strong>PASTORAL DE GRUPOS:</strong>
                                      <br>
									Impulsar, desde los grupos, una pastoral de procesos que favorezca el crecimiento humano-cristiano de niños, adolescentes y jóvenes y que, partiendo de la propia realidad, descubran su misión en el mundo y sean capaces de hacer una opción vocacional que los lleve a transformar el entorno desde los valores de Evangelio 
									<br><br>
									Consolidar los grupos del MMC infantil y juvenil, catequesis y otras experiencias juveniles como medio de crecimiento humano-cristiano en comunidad.
									<br><br>
									ACTIVIDADES QUE DESARROLLA: 
										<li>Reuniones semanales y otras actividades del Movimiento Misionero Concepcionista</li>
										<li>Jornadas de formación de los asesores del MMC</li>
										<li>CCampamento Misión</li>
										<li>Convivencias intercolegiales por cursos</li>
										<li>Pentecostés</li>
									</ul>
                               		 </p>
								</div>
						</section>
						
						<section class="col-md-6 col-sm-6">
							<br><br><br>
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/venezuela/GRUPOS.jpg' %}" class="img_res">
								</div>
						</section>
                        <br><br>

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;"> 
                                            <img src="{% static 'images/venezuela/formacion.jpg' %}" class="img_res">
                                        </p>
								</div>
						</section>
							
                        <br><br><br>
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
										  <br><br><br>
                                      <strong>PASTORAL VOCACIONAL</strong>
                                      <br>
									Fortalecer la cultura vocacional para que los bautizados asuman su llamado a ser discípulos y misioneros de Cristo en las circunstancias actuales.  
									<br><br>
									Ofrecer experiencias que lleven al acompañado a dar lo mejor de sí mismo, revelándole sus potencialidades, suscitando nuevas expectativas y estímulos que le lleven a conocer y acoger el proyecto de vida de Jesús de Nazaret. 
									<br><br>
									Propiciar encuentros que favorezcan el discernimiento vocacional: apertura al misterio, motivaciones, historia personal, dimensión afectiva-sexual de la persona. 
									<br><br>
									ACTIVIDADES QUE DESARROLLA:
									<ul>
										<li>Grupos vocacionales</li>
										<li>Acompañamiento vocacional</li>
										<li>Semana Vocacional Concepcionista  </li>
										<li>Convivencias vocacionales</li>
										<li>Retiros de discernimiento</li>
									</ul>
                               		 </p>
								</div>
								</div>
                        </section>		
			</section>
			<div class="clearfix"></div>
		</section>
	</section>



		<!-- ****************************** Footer ************************** -->

		<section id="footer">
			<section class="container">
				<section class="row">
					<div class="col-sm-6">
					
					</div>
					<div class="col-sm-6">
						<p class="copyright">All &copy; Copyright Reserved 2018</p>
					</div>
				</section>
			</section>
		</section>


	<!-- All the scripts -->

{% endblock %}