{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
			</section>
		</section>
	<!-- ****************************** Contact Section ************************** -->

<section>
	<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
		Noticias Recientes
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			<hr><br><br>
			<table class="table">
				<thead>
				<tr>
					<th>Noticia</th>
					<th>Fecha</th>
					<th>Pais</th>
					<th></th>
					<th></th>
				</tr>
				</thead>
				<tbody>
					{% for noticias in noticias %}
					<tr>		
						<td>{{ noticias.titulo }}</td>
						<td>{{ noticias.fecha_publicacion }}</td>
						<td>{{ noticias.pais }}</td>
						<td><a class="btn btn-info" href="{% url 'editar_noticia' noticias.id %}">Editar</a></td>
						<td><a class="btn btn-danger" href="{% url 'eliminar_noticia' noticias.id %}">Eliminar</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<section class="row">

				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Agregar Nueva Noticia
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1>
				</div>
				<br><br>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
				</form>
				<div class="col-sm-6">
					<a href="{% url 'home' %}" class="polo-btn" style="color:black;"><strong><small>Volver</small></strong></a>
				</div>
				<div class="col-sm-6">
				<a href="{% url 'nuevanoticiajoven' %}" class="polo-btn" style=" color:black;"><strong>Juventud Concepcionista</strong></a>
				</div>
			</section>			
		</div>
	</div>
</div>
</section>

 <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>

{% endblock %}