{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	
	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->
<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>

	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->


	<section id="banner" >
		<section class="container">
		
		</section>
	</section>

	<!-- ****************************** Features Section ************************** -->
<!--
	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Nuestras Noticias
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			
			<section class="row">

						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="images/mexico/jornada de formacion.JPG" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Mexico</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
									
								</div>
						<a href="#" class="polo-btn" style="border-radius:30px; color:black;"><strong>Ver todas!</strong></a>
						</section>

						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="images/venezuela/20171123_075634.jpg" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Venezuela</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
									
								</div>
						<a href="#" class="polo-btn" style="border-radius:30px; color:black;"><strong>Ver todas!</strong></a>
						</section>
							

						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="images/haiti/ACTIVIDAD.jpg" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Haiti</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
									
								</div>
						<a href="#" class="polo-btn" style="border-radius:30px; color:black;"><strong>Ver todas!</strong></a>
						</section>
							

						<section class="col-md-3 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="images/dominicana/COMIDA.jpg" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Congregacion en Rep Dominicana</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua.</p>
									
								</div>
						<a href="#" class="polo-btn" style="border-radius:30px; color:black;"><strong>Ver todas!</strong></a>
						</section>
							
							
			</section>
			<div class="clearfix"></div>
		</section>
	</section>
-->
	<!-- ****************************** Gallery Section ************************** -->
<br><br><br>
	<section id="gallery" class="block" style=" background: url({% static 'images/cielo.jpg' %}) no-repeat;">
		<section class="container">
			<section class="row">
				<div class="title-box" style="color:#fff;"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left" style="border-color: #fff; "></span>
				<span class="bb-bottom-left" style="border-color: #fff; "></span>
				MISIÒN
				<span class="bb-top-right" style="border-color: #fff; "></span>
				<span class="bb-bottom-right" style="border-color: #fff; "></span>
				</h1></div>
			</section>
			<section class="row">
				<div class="col-xs-8">
				<h3 style="color:white; text-align : justify;">
					“Evangelizar a través de una educación preventiva y liberadora que tiene a
					María Inmaculada como fuente de inspiración y que asume los principios
					pedagógicos de Carmen Sallés, los cuales favorecen la formación integral de la
					persona, la percepción de sí misma como sujeto histórico, capaz de influir con
					el testimonio de vida y el anuncio de valores humano-cristianos, en la
					construcción de una sociedad justa y fraterna”.
					<br>El Centro Concepcionista tiene la misión de prestar un servicio educativo de calidad a los estudiantes,
                     a las familias y a la sociedad en la que está inserto, mediante el testimonio, 
                    el anuncio y la experiencia de un conjunto de valores propios del carisma y de la espiritualidad de Carmen Sallés
                        .</h3>
				</div>
			</section>
		</section>
    </section>
<br><br><br>
    <section id="gallery" class="block" style="background: url({% static 'images/cielo.jpg' %}) no-repeat;">
		<section class="container">
			<section class="row">
				<div class="title-box" style="color:#fff;"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left" style="border-color: #fff; "></span>
				<span class="bb-bottom-left" style="border-color: #fff; "></span>
				VISIÒN
				<span class="bb-top-right" style="border-color: #fff; "></span>
				<span class="bb-bottom-right" style="border-color: #fff; "></span>
				</h1></div>
			</section>
			<section class="row">
				<div class="col-xs-8">
				<h3 style="color:white; text-align : justify;">“Contribuir a la extensión del Reino de Dios y a la fraternidad universal desde el estilo educativo-evangelizador concepcionista”.
					<br>
					La Escuela Concepcionista es una Comunidad Educativa Abierta permanentemente al diálogo con la realidad que le rodea, a los cambios sociales y a la innovación en la que sus miembros, desde una lectura cristiana o trascendente, se sienten
				comprometidos a dar respuestas de calidad a las necesidades de los estudiantes
				</h3>
				</div>
			</section>
		</section>
	</section>

	<!-- ****************************** Team Section ************************** -->

	<section id="team" class="block">
		<section class="container">
				<section class="row">
						<section class="row">
								<div class="title-box"><h1 class="block-title wow animated rollIn">
								<span class="bb-top-left"></span>
								<span class="bb-bottom-left"></span>
								Nuestros Valores
								<span class="bb-top-right"></span>
								<span class="bb-bottom-right"></span>
								</h1></div>
							</section>

						<section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/pastoral_grupos.jpg' %}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Vida Gracia</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        Optar por el desarrollo y calidad de la vida, como regalio de Dios
                                    </p>
									
								</div>
						</section>

						<section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/pastoral_vocacional.jpg' %}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Amor</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        Valorarse a uno mismo y a los demas como personas amadas por Dios
                                    </p>
								</div>
						</section>
							
                        <br><br><br>
						<section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/pastoral_educativa.JPG' %}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Apertura a la Trasendencia</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        La capacidad de Trasendencia es un poder de la inteligencia espiritual, que faculta al ser humano
                                        para moverse hacia lo que no se conoce
                                    </p>
									
								</div>
						</section>
							

						<section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/mision_apostolica.jpg' %}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">FÈ</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        Vivir de fè nos lleva a tener un sentido positivo en la Vida
                                    </p>
									
								</div>
                        </section>
                        
                        <section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/la_verdad.jpg' %}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Esperanza</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                       La fuente de la esperanza esta en Dios, que solo puede amar y nos busca
                                       incansablemente
                                    </p>
									
								</div>
                        </section>
                        
                        <section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/juniorado.jpg' %}" class="img_res team-pic">
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Gratitud</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        El ministerio de la Inmaculada es el ministerio de la gratuidad.
                                        Desde su concepcion inmaculada, Maria es la maxima expresion 
                                        de la gratuidad de Dios
                                    </p>
									
								</div>
						</section>
							
							
			</section>
		</section>
	</section>

	<section id="team" class="block">
		<section class="container">
				<section class="row">
						<section class="row">
								<div class="title-box"><h1 class="block-title wow animated rollIn">
								<span class="bb-top-left"></span>
								<span class="bb-bottom-left"></span>
								ESTILO EDUCATIVO CONCEPCIONISTA
								<span class="bb-top-right"></span>
								<span class="bb-bottom-right"></span>
								</h1></div>
							</section>

						<section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Preventiva</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        La pedagogía preventiva le brota de la convicción de la presencia del bien en el corazón de niños y jóvenes, y de la necesidad de cultivarlo para favorecer el desarrollo de personas con madurez humana y cristiana. 
                                    </p>
									
								</div>
						</section>

						<section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Integral</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                       Carmen Sallés reconoce la dignidad de la persona y proyecta la acción educativa en todas sus dimensiones: inteligencia, voluntad, carácter, sentimientos, capacidades físicas y psicológicas, conciencia moral y religiosa. 
                                    </p>
								</div>
						</section>
							
                        <br><br><br>
						<section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
								
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Liberadora</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                       El protagonismo del maestro radica en extraer de la creatividad común, en el proceso educativo, los instrumentos para aprender juntos
                                    </p>
									
								</div>
						</section>
							

						<section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Personalizada</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                     La educación personalizada considera al estudiante como el centro de la acción educativa, lo acoge como es y lo ayuda a crecer como persona.
                                    </p>
									
								</div>
                        </section>
                        
                        <section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Presencial</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                       Carmen Sallés entiende la presencia como una forma de evitar el mal, nos propone “una vigilancia delicada y continua cerca de los niños”. Vigilancia que se hace cercanía, delicadeza y constancia. Es el amor que vela, que se hace responsable de aquellos que le son confiados.
                                    </p>
									
								</div>
                        </section>
                        
                        <section class="col-md-4 col-sm-6">
								<div class="team-member wow animated fadeIn" data-wow-delay=="0.3s">
									
									<h2 class="wow animated fadeInDown" data-wow-delay=="0.7s">Motivadora</h2>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                       En el lenguaje de Carmen Sallés, esta pedagogía supone ofrecer motivaciones profundas inherentes a cada etapa del desarrollo evolutivo de los educandos: “Haz lo que haces, hazlo por Dios. Y hazlo bien”. ”Procuren tener recta intención en todas las acciones mirando siempre agradar a Dios”.
                                    </p>
									
								</div>
						</section>
							
							
			</section>
		</section>
	</section>

	

	<!--<section id="subscribe">
		<section class="container">
			<section class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<p class="susbcribe-text">
					<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor</strong> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</section>
		</section>
		<section class="container subscribe-wrap">
			<section class="row">
				<div class="col-sm-12">
					<div class="row">
						<form role="form">
							<div class="col-xs-10">
								<div class="form-group">
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
								</div>
							</div>
							<div class="col-xs-2">
								<button type="submit" class="btn-custom">
								<i class="ion-ios-arrow-thin-right"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</section>
	</section> -->

	<!-- ****************************** Contact Section ************************** -->

	

		<!-- ****************************** Footer ************************** -->

		<section id="footer">
			<section class="container">
				<section class="row">
					<div class="col-sm-6">
					
					</div>
					<div class="col-sm-6">
						<p class="copyright">All &copy; Copyright Reserved 2018</p>
					</div>
				</section>
			</section>
		</section>


	<!-- All the scripts -->
{% endblock %}