{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->

	<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>
	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->


	<section id="banner" >
		
	</section>

	<!-- ****************************** Features Section ************************** -->

	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				¿QUIÉNES SOMOS? 
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			
			<section class="row">

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                            Carmen Sallés nace en Vic, Barcelona, España, en abril de 1848. El día 9 a la vida y el 11 a la gracia del bautismo, 
                                            crece en un hogar profundamente cristiano, en el que la cultura es muy apreciada, estudian los varones y también las mujeres, 
                                            siendo niña vive el ambiente eclesial de la definición del dogma de la Inmaculada,
                                             fue estudiante en un colegio de la Compañía de María. Se preparó, de acuerdo con el deseo de sus padres,
                                             para el matrimonio, pero con una duda inquietante sobre lo que Dios quería de ella.
                                            <br><br>
                                             Unos Ejercicios Espirituales y el discernimiento valiente, 
                                        le hicieron ver que Dios la invitaba a consagrarse a Él en la vida religiosa,
                                        Siendo novicia adoratriz conoce a jóvenes de su edad, que no habían tenido una familia ni una educación como la suya.
                                        Escucha la voz del Espíritu: "Para alcanzar buenos fines, son menester buenos principios", 
                                        lo que despierta en ella una opción pedagógica por la prevención,
                                        más que por la recuperación..
                                </p>
								</div>
						</section>

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/venezuela/20171123_075634.jpg' %}" class="img_res">
								</div>
						</section>
                        <br><br>

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;"> 
                                            <img src="{% static 'images/venezuela/20171123_075634.jpg' %}" class="img_res">
                                        </p>
								</div>
						</section>
							
                        <br><br><br>
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                            <br><br><br>
                                            Siguió su búsqueda entre las Dominicas de la Anunciata. Fue descubriendo que los horizontes de la educación femenina en la sociedad del momento,
                                            eran muy limitados para la mujer de tiempos nuevos. 
                                           El Espíritu le sugería ampliarlos. Intuye, en una sociedad de primera industrialización,
                                            un papel nuevo para la mujer que requiere el paso educativo de sus labores o cultura general a la enseñanza formal. 
                                            <br><br>
                                            Abierta a los signos de los tiempos, percibe la importancia de formar a la mujer.
                                             Sus convicciones profundas guían su labor pedagógica, salpicada de dificultades y la llevan a abrir caminos nuevos,
                                              atenta a los planes de Dios, emprende un nuevo camino con fortaleza: "Adelante, siempre adelante, Dios proveerá". 
                                              La experiencia de confianza en Dios Providente marcará su horizonte.
                                             Este lema permanece en el tiempo y se ha convertido en guía de la vida concepcionista.              
                                        </p>
									
								</div>
                        </section>
                        <br><br><br>
                        <section class="col-md-12 col-sm-12">
                                <div class="wow animated fadeIn" data-wow-delay=="0.3s">
                                        <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                                <br><br><br>
                                                La Congregación llegó a México en 1996. Es el quinto país de América en el que hay presencia concepcionista. 
                                                Los tres primeros años las hermanas vivieron en distintas casas alquiladas de Izcalli, 
                                                Estado de México, y en 1998 llegan a Jiutepec, Cuernavaca, en el Estado de Morelos.
                                                 Allí se fundó el colegio bilingüe Carmen Sallés School que inició sus actividades el día 15 de octubre de 1999. 
                                                <br><br>
                                                Desde el 2010 y a raíz del terremoto que azotó Haití, 
                                                las concepcionistas de República Dominicana se plantearon la posibilidad de fundar en el vecino país. 
                                                Conocieron el proyecto que Fe y Alegría de República Dominicana y Haití tenían de reforzar la educación en los pueblos fronterizos y entraron en contacto con el padre Ton Lluberes sj,
                                                 director nacional de Fe y Alegría en República Dominicana quien a su vez nos puso en contacto con el padre Ambroise Gabriel sj, 
                                                 director nacional de Fe y alegría en Haití. Después de hacer todas las gestiones,
                                                  a finales de agosto del 2013 se llegó a la nueva misión concepcionista El 7 de septiembre del 2013 se tuvo la misa de apertura de la primera comunidad en Haití,
                                                   las primeras religiosas fueron: MM. Augusta Geraldino, Clara Josefina Henríquez, 
                                                   Germaine Lusaku y Yajaira Chacón.Desde el 2010 y a raíz del terremoto que azotó Haití, 
                                                   las concepcionistas de República Dominicana se plantearon la posibilidad de fundar en el vecino país.
                                                    Conocieron el proyecto que Fe y Alegría de República Dominicana y Haití tenían de reforzar la educación en los pueblos fronterizos y entraron en contacto con el padre Ton Lluberes sj,
                                                     director nacional de Fe y Alegría en República Dominicana quien a su vez nos puso en contacto con el padre Ambroise Gabriel sj, director nacional de Fe y alegría en Haití.
                                                      Después de hacer todas las gestiones, a finales de agosto del 2013 se llegó a la nueva misión concepcionista El 7 de septiembre del 2013 se tuvo la misa de apertura de la primera comunidad en Haití,
                                                       las primeras religiosas fueron: MM. Augusta Geraldino, Clara Josefina Henríquez, Germaine Lusaku y Yajaira Chacón.          
                                            </p>
                                            <br><br><br>
                                     
                                        
                                    </div>
						</section>

							
			</section>
			<div class="clearfix"></div>
		</section>
	</section>

		<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				RAÍCES DE LA PROVINCIA DEL CARIBE
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			
			<section class="row">
				
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<h3>VENEZUELA (1957)</h3>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                           La misión concepcionista en Venezuela se desarrolla con creatividad y
esperanza en medio de una situación difícil, siendo un impulso el “Adelante, siempre
adelante Dios proveerá” de Santa Carmen Sallés para estar presentes en distintos
lugares con diferentes realidades. La presencia concepcionista la llevamos a cabo a
través de centros educativos. Tres de ellos son autogestionados y cinco subvencionados
por el convenio MPPE-AVEC.
                                            <br><br>
                                            Los centros autogestionados son: La Concepción de Terrazas del Club Hípico,
Edo. Miranda, La Concepción de Montalbán, Distrito Capital y La Concepción de
Maracay, Edo. Aragua.
<br><br>

Los centros subvencionados son: Nuestra Sra. de Belén en San Mateo, Edo.
Aragua, Centro de Educación Inicial Carmen Sallés en La Morán, Distrito Capital,

Carmen Sallés en Nazaret, Edo. Bolívar, La Inmaculada, Fe y Alegría, Brisas del
Orinoco, Edo. Bolívar y Fe y Alegría Carmen Sallés en Morichalito Edo. Bolívar.
Además estamos presentes en la comunidad del Noviciado Nuestra Sra. de
América y la comunidad de hermanas mayores Betania ambas en Vista Alegre, Distrito
Capital.

                                </p>
								</div>
						</section>

						<section class="col-md-6 col-sm-6">

								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<h3>REPÚBLICA DOMINICANA (1972)</h3>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                            “Mientras haya niños y jóvenes que educar y valores que transmitir, las
dificultades no cuentan”. Impulsadas por esta motivación que nos legó Santa Carmen
Sallés, las Concepcionistas inician la misión en R. Dominicana en medio de un pueblo
mariano y profundamente religioso.
                                            <br><br>
                                         La misión en R. Dominicana se realiza en centros educativos dependientes del
Ministerio de Educación (MINERD) que han sido cedidos para la gestión a cargo de la
congregación. Este convenio de gestión está actualmente regulado por un convenio
entre el MINERD y la Conferencia Episcopal Dominicana.
<br><br>
En Sabana de la Mar, Hato Mayor, se dirigen tres centros educativos, dos de
educación inicial y primaria y un bachillerato. En Consuelo, San Pedro de Macorís, se
atiende otro centro educativo de primaria. En Santo Domingo, se acompaña la misión
educativa evangelizadora desde educación inicial hasta el último año de bachiller en dos
centros educativos, uno de ellos, en Los Frailes conjuntamente con Fe y Alegría y el
otro, en Buenos Aires de Herrera con la Asociación Civil Hora de Dios.

								</div>

                                            <br><br><br>
                                       
                                        
						</section>

						<section class="col-md-6 col-sm-6">

								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<h3>MÉXICO (1996)</h3>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                            “Donde yo no pueda ir vayan ustedes y lleven el pan de la cultura, el amor a
María Inmaculada y la libertad de la gracia”. Movidas por este deseo en 1996 se
emprende la fundación de México. Es la misión educativa número doce que lleva a cabo
la Congregación y el quinto país en América. Después de vivir alquiladas en distintos
lugares en Izcalli, finalmente se establecen en Jiutepec, Estado de Morelos en 1998 y
se inicia el colegio el día 15 de octubre de 1999. Es un centro educativo bilingüe que
atiende desde Educación Inicial hasta la Preparatoria.

								</div>

                                            <br><br><br>
                                       
                                        
						</section>


<section class="col-md-6 col-sm-6">

								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<h3>HAITÍ (2013)</h3>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                            “Encontrarán a Cristo en el corazón de los niños”. Respondiendo a esta
invitación de Santa Carmen Sallés de contemplar los rostros de niños y jóvenes y
atendiendo a las llamadas de la Iglesia después del terremoto que azotó a Haití, las
Concepcionistas, conjuntamente con Fe y Alegría, asumimos la dirección de un centro
educativo ubicado en Dilaire, Ouanaminthe. En el mismo se atiende una población
escolar de Educación Inicial y Primaria. Este centro participa de un proyecto de
fraternidad entre Haití y R. Dominicana a través de centros educativos ubicados a lo
largo de la frontera de estos dos países.

								</div>

                                            <br><br><br>
                                       
                                        
						</section>


  <center><img src="{% static 'images/organizacion.png' %}"></center>
							
			</section>
			<div class="clearfix"></div>
		</section>
	</section>



	<!--<section id="subscribe">
		<section class="container">
			<section class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<p class="susbcribe-text">
					<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor</strong> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</section>
		</section>
		<section class="container subscribe-wrap">
			<section class="row">
				<div class="col-sm-12">
					<div class="row">
						<form role="form">
							<div class="col-xs-10">
								<div class="form-group">
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
								</div>
							</div>
							<div class="col-xs-2">
								<button type="submit" class="btn-custom">
								<i class="ion-ios-arrow-thin-right"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</section>
	</section> -->

	<!-- ****************************** Contact Section ************************** -->

	
		<!-- ****************************** Footer ************************** -->

		<section id="footer">
			<section class="container">
				<section class="row">
					<div class="col-sm-6">
					
					</div>
					<div class="col-sm-6">
						<p class="copyright">All &copy; Copyright Reserved 2018</p>
					</div>
				</section>
			</section>
		</section>


	<!-- All the scripts -->

{% endblock %}