{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->
<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>

	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->


	<section id="banner" >
		
	</section>

	<!-- ****************************** Features Section ************************** -->

	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Concepcionistas del Caribe en Republica Dominicana
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			
			<section class="row">

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
								<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                     La misión en R. Dominicana se realiza en centros educativos dependientes del
Ministerio de Educación (MINERD) que han sido cedidos para la gestión a cargo de la
congregación. Este convenio de gestión está actualmente regulado por un convenio entre el
MINERD y la Conferencia Episcopal Dominicana.
En Sabana de la Mar, Hato Mayor, se dirigen tres centros educativos, dos de educación
inicial y primaria y un bachillerato. En Consuelo, San Pedro de Macorís, se atiende otro
centro educativo de primaria. En Santo Domingo, se acompaña la misión educativa
evangelizadora desde educación inicial hasta el último año de bachiller en dos centros

educativos, uno de ellos, en Los Frailes conjuntamente con Fe y Alegría y el otro, en Buenos
Aires de Herrera con la Asociación Civil Hora de Dios. 
                                </p>
                                <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        
                                </p>
                                <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                     
                                </p>
								</div>
						</section>
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/dominicana/ESTUDIO.jpg' %}" class="img_res">
								</div>
						</section>
                        <br><br>					
			</section>
			<div class="clearfix"></div>
		</section>
	</section>



	
		<!-- ****************************** Footer ************************** -->

		<section id="footer">
			<section class="container">
				<section class="row">
					<div class="col-sm-6">
					
					</div>
					<div class="col-sm-6">
						<p class="copyright">All &copy; Copyright Reserved 2018</p>
					</div>
				</section>
			</section>
		</section>


	<!-- All the scripts -->

{% endblock %}