{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->

	<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>

	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->


	<section id="banner" >
		
	</section>

	<!-- ****************************** Features Section ************************** -->

	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Ubicacion y Contactos
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			
			<section class="row">

				
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<h3>VENEZUELA</h3>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                          <strong>Casa Provincial</strong><br><br>
									Residencia Carmen Sallés
									Urbanización Montalbán
                                            <br><br>
                                    Calle 1 con transversal 11
									1020 Caracas, DC
									Tel y fax. +58 212 4422962

                               	 </p>
                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                          <strong>Colegio La Concepción</strong><br><br>
										Urbanización Montalbán
										Calle 1 con transversal 11
										Caracas, DC
                                            <br><br>
                                    Tel. +58 212 4428215/
									+58 212 4427055
									<br>
									Correo electrónico: info@colegiolaconcepcion.edu.ve<br>
									clcmontalban@gmail.com
									Web:<a href="www.colegiolaconcepcion.edu.ve "> www.colegiolaconcepcion.edu.ve </a>

                               	 </p>
                               	  <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                          <strong>Centro de Educación Inicial Carmen Sallés</strong><br><br>
                                    Barrio La Morán
									Av Morán, escalera Bolívar
									Sector Los Malabares
																		<br>
									C1020 Caracas, DC /
						Tel. +58 212 8789522
                               	 </p>
                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                 <strong>Colegio La Concepción</strong><br><br>
								Urb. Terrazas del Club Hípico
								Calle Venezuela
																		<br>
								Apdo. 80469
								1080. Baruta, Edo Miranda
								Tel. +58 212 9798468
                               	 </p>

                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                          <strong>CNoviciado Nuestra Señora de América</strong><br><br>
Urb. Vista Alegre
																		<br>
								Calle 12, Nº 01-14
1020 Caracas, DC
Tel. +58 212 4721296
                               	 </p>
                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                          <strong>Comunidad Betania</strong><br><br>
Qta. Betania
																		<br>
								Urb. Vista Alegre
Final Av. Uslar con calle 12
1020 Caracas, DC
Tel. +58 212 4721296
                               	 </p>
                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                         <strong>Colegio Nuestra Señora de Belén</strong><br><br>
Calle Purino frente a la Plaza Bolívar
																		<br>
								San Mateo, Edo. Aragua
Tel. + 58 244 3520126
Fax. + 58 244 3521433
                               	 </p>

                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                         <strong>Colegio La Concepción</strong><br><br>
Urb. La Soledad
Av. Principal con calle 10 y 11
																		<br>
								2101 Maracay, Edo. Aragua
Tel. + 58 243 2323340
+58 243 2321376
Fax. + 58 243 2328629
                               	 </p>
                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                         <strong>Unidad Educativa La Inmaculada, Fe y Alegría</strong><br><br>
Barrio Brisas del Orinoco
																		<br>
								Av. Urdaneta con calle fe y alegría
8001 Ciudad Bolívar, Edo. Bolívar.
Tel. + 58 285 6516944
<a href="www.ueinmaculada.es.tl">www.ueinmaculada.es.tl</a>
                               	 </p>
                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                         <strong>Colegio Carmen Sallés</strong><br><br>
Barrio Nazaret
Calle Coromoto con Ensueños
																		<br>
								8001 Ciudad Bolívar, Edo Bolívar.
Tel. + 58 414 8508927
                               	 </p>
								</div>
						</section>


						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<h3>Republica Dominicana <h3>
								</div>
								 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
								 	<strong>Concepcionistas Misioneras de la Enseñanza</strong><br><br>
                                          Urb. María de Mar. C/ 2da nº 9
										Aut. Las Américas Km.10 y ½ - Los Frailes II
										SANTO DOMINGO Este (República Dominicana)
										Tel. Cdad. (09) 599.74.31
									<br>
									E-mail: rcmlfsup@gmail.com<br>
                               	 </p>

                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                         <strong> Escuela &quot;La Inmaculada&quot; Fe y Alegría</strong><br><br>
										C/ Respaldo Manuela Díez, esquina Calle Mella
										Barrio Nuevo, los Frailes , Km 11 Autopista Las Américas
SANTO DOMINGO Este (República Dominicana)
<br>
										Tel. Escuela (09) 599.73.30
										<br>
										Tel. Dirección (09) 598.82.23
									<br>
									E-mail: inmafya@hotmail.com<br>
                               	 </p>

                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                         <strong>Residencia de Religiosas</strong><br><br>
										C/ Orquídea, 1 Buenos Aires de Herrera
										Apdo. 60-8 Herrera
								SANTO DOMINGO Oeste (República Dominicana)
<br>
										Tel. Cdad. (809) 561.22.73
										<br>
										Fax. (809) 561.47.08
									<br>
									E-mail: rcmlhdsup@gmail.com<br>
                               	 </p>

                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                         <strong>Colegio “La Hora de Dios”</strong><br><br>
										Buenos Aires Apdo. 60-8

								SANTO DOMINGO Oeste (República Dominicana) Tel. Colegio (809) 561.00.87
<br>
										Tel. Guardería (809) 237.50.24
										<br>
                               	 </p>

                               	 <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                       <strong>Concepcionistas Misioneras de la Enseñanza</strong><br><br>
										Escuela “Antonio Paredes Mena” , C/ Carmen Sallés, 68- Barrio Inmaculada Concepción

								SANTO DOMINGO Oeste (República Dominicana) Tel. Colegio (809) 561.00.87 , CONSUELO (San Pedro de Macorís) (R. D.)
<br>
										Tel. Cdad. (809) 553.84.60
										<br>
										Tel. Escuela (809) 553.71.73
										<br>
										E-mail: rcmconsup@gmail.com
                               	 </p>

                               	  <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                     <strong> C/ 27 de Febrero s/n Apdo. 62</strong><br><br>
                                      <br>
SABANA DE LA MAR Hato Mayor del Rey (R. D.)

								
<br>
										Tel. Cdad. (09) 556.72.31
										<br>
									Fax.Cdad. (09) 556.72.22
										<br>
										Tel. C. Elupina (09) 556.72.45
										<br>
										Tel. Esc. Inmac (09) 556.72.28
										<br>
										Tel. Fax Liceo (09) 556.72.20
										<br>
									E-mail Comunidad: rcmsabmsup@gmail.comLiceo Virginia Pou
									<br>
									virginiapou50@hotmail.com
                               	 </p>
						</section>
                        <br><br>

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<h3>MÉXICO</h3>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                      <strong>Colegio Carmen Sallés</strong><br><br>
                                      <br>
Dirección: Emiliano Zapata 2007, Col. La Nopalera, 62550 Jiutepec, Morelos, México

								
<br>
Telefono : +52 777 320 57 13
									<br>
									<a href="http:www.colegiocarmensallescuernavaca.edu.mx"> http:www.colegiocarmensallescuernavaca.edu.mx
									</a>s
                               	 </p>
								</div>
						</section>
							
                        <br><br><br>
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<h3>HAITÍ</h3>
									<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                     <strong>Ecole Nationale Congréganiste Eben Ezer Foi et Joi</strong><br><br>
                                      <br>
Rue de L´enterrement, Carrefour La Fleur, deuxieme secction communale, haut-Maribahaux,
Dilaire, Ouanaminthe, Nord-Est, Haití

								
<br>
Tel. (509) 22090786
									<br>
									<a href="http:www.colegiocarmensallescuernavaca.edu.mx"> http:www.colegiocarmensallescuernavaca.edu.mx
									</a>s
                               	 </p>
								</div>
                        </section>
                        <br><br><br>					
			</section>
			<div class="clearfix"></div>
		</section>
	</section>

	
	



	<!--<section id="subscribe">
		<section class="container">
			<section class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<p class="susbcribe-text">
					<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor</strong> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</section>
		</section>
		<section class="container subscribe-wrap">
			<section class="row">
				<div class="col-sm-12">
					<div class="row">
						<form role="form">
							<div class="col-xs-10">
								<div class="form-group">
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
								</div>
							</div>
							<div class="col-xs-2">
								<button type="submit" class="btn-custom">
								<i class="ion-ios-arrow-thin-right"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</section>
	</section> -->

	<!-- ****************************** Contact Section ************************** -->

	
		<!-- ****************************** Footer ************************** -->

		<section id="footer">
			<section class="container">
				<section class="row">
					<div class="col-sm-6">
					
					</div>
					<div class="col-sm-6">
						<p class="copyright">All &copy; Copyright Reserved 2018</p>
					</div>
				</section>
			</section>
		</section>


	<!-- All the scripts -->

{% endblock %}