{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<body id="home">

	<!-- ****************************** Preloader ************************** -->

	<div id="preloader"></div>

	<!-- ****************************** Sidebar ************************** -->

	<nav id="sidebar-wrapper">
		<a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
	    <ul class="sidebar-nav">
				<li><a href="{% url 'init' %}">Inicio</a></li>
			<li><a href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
			<li><a href="{% url 'que_hacemos' %}">Qué hacemos</a></li>
			<li><a href="{% url 'mision_apostolica' %}">Misiòn Apostolica</a></li>
			<li><a href="{% url 'ubicacion_contacto' %}">Ubicaciòn y Contactos</a></li>
			<li><a href="{% url 'pilares' %}">Pilares </a></li>
			<li><a href="{% url 'login' %}">Administraciòn</a></li>
	    </ul>
	</nav>

	<!-- ****************************** Header ************************** -->

	<header class="sticky" id="header">
		<section class="container">
			<section class="row" id="logo_menu">
				<section class="col-xs-8">
					<a class="logo" href=""><img src="{% static 'images/ANAGRAMA.png' %}" style="height:80px;"><small><strong>Concepcionistas del Caribe</strong></small></a>
				</section>
				<section class="col-xs-4"><a id="menu-toggle" href="#" class="toggle wow rotateIn" data-wow-delay="1s"><i class="ion-navicon"></i></a></section>
			</section>
		</section>
	</header>

	<!-- ****************************** Banner ************************** -->


	<section id="banner" >
		
	</section>

	<!-- ****************************** Features Section ************************** -->

	<section id="features" class="block">
		<section class="container">
			<section class="row">
				<div class="title-box"><h1 class="block-title wow animated rollIn">
				<span class="bb-top-left"></span>
				<span class="bb-bottom-left"></span>
				Concepcionistas del caribe en Venezuela
				<span class="bb-top-right"></span>
				<span class="bb-bottom-right"></span>
				</h1></div>
			</section>
			
			<section class="row">

						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
								<p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                      La misión concepcionista en Venezuela se desarrolla con creatividad y esperanza en
	medio de una situación difícil, siendo un impulso el “Adelante, siempre adelante Dios
	proveerá” de Santa Carmen Sallés para estar presentes en distintos lugares con diferentes
	realidades. La presencia concepcionista la llevamos a cabo a través de centros educativos.
	Tres de ellos son autogestionados y cinco subvencionados por el convenio MPPE-AVEC.
                                </p>
                                <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                        Los centros autogestionados son: La Concepción de Terrazas del Club Hípico, Edo.
Miranda, La Concepción de Montalbán, Distrito Capital y La Concepción de Maracay, Edo.
Aragua.
                                </p>
                                <p class="wow animated fadeIn" data-wow-delay=="0.7s" style="text-align : justify;">
                                     Los centros subvencionados son: Nuestra Sra. de Belén en San Mateo, Edo. Aragua,
Centro de Educación Inicial Carmen Sallés en La Morán, Distrito Capital, Carmen Sallés en
Nazaret, Edo. Bolívar, La Inmaculada, Fe y Alegría, Brisas del Orinoco, Edo. Bolívar y Fe y
Alegría Carmen Sallés en Morichalito Edo. Bolívar.
                                </p>
								</div>
						</section>
						<section class="col-md-6 col-sm-6">
								<div class="wow animated fadeIn" data-wow-delay=="0.3s">
									<img src="{% static 'images/venezuela/VENEZUELA.JPG' %}" class="img_res">
								</div>
						</section>
                        <br><br>					
			</section>
			<div class="clearfix"></div>
		</section>
	</section>



	
		<!-- ****************************** Footer ************************** -->

		<section id="footer">
			<section class="container">
				<section class="row">
					<div class="col-sm-6">
					
					</div>
					<div class="col-sm-6">
						<p class="copyright">All &copy; Copyright Reserved 2018</p>
					</div>
				</section>
			</section>
		</section>


	<!-- All the scripts -->

{% endblock %}